#jumbo {
  background-size: cover;
  height: 100%;
  padding-right: 50%;
  margin-left: 25%;
  padding-bottom: 3%;
 
}
h1.text-center {
  font-size: 35px;
  color: teal;
  font-weight: bold;
  text-align: center;
}

.card.employee-card {
  margin-top: 1%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.card-header {
  background-color: rgba(255, 217, 0, 0.692);
  color: teal;
}
.card-body {
  margin-top: 5px;
  padding: 3px;
  width: 300px;
  background-color: #f6f7f8;
  border-radius: 8px;
}
.jumbotron {
  background-color: white;
  padding: 20px;
}
