#jumbo {
  background-size: cover;
  height: 100%;
  padding-right: 50%;
  margin-left: 25%;
}
h1.text-center {
  font-size: 50px;
  color: teal;
  font-weight: bold;
  text-align: center;
}

.card.employee-card {
  margin-top: 1%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.card-header {
  background-color: rgba(255, 217, 0, 0.692);
  color: teal;
}
.card-body {
  width: 300px;
  background-color: #f6f7f8;
}
